body{
margin: 0;
padding: 0;
background: url('https://wallpapercave.com/wp/wp3594888.jpg');
background-size: cover;
background-position: center;
font-family: sans-serif;
}
.loginbox{
width: 300px;
height: 420px;
background: transparent;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
    box-sizing: border-box;
}
h1{
margin: 50;
padding: 0 0 20px;
font-size: 22px;
text-align: center;
}
.loginbox p{
margin: 5;
padding: 0;
font-weight: bold;
}
.loginbox input[type="text"], input[type="senha"]
{
border: none;
border-bottom: 1px solid #fff
background: transparent;
outline: none;
height: 20px;
color: #fff;
font-size: 16px;
}
.loginbox input[type="submit"]
{
border: none;
outline: none;
height: 40px;
color: #fff;
font-size: 18px;
border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
cursor: pointer;
background: #333f8b;
color: #000;
}
.loginbox a{
text-decoration: none;
font-size: 12px; 
line-height: 30px;
color: darkgrey;
}
.loginbox a:hover
{
color: #ffc107;
}